{
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "strict",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
